a:link { text-decoration: none;}

a:visited { text-decoration: none;}


a:active { text-decoration:none}
a:hover { text-decoration:underline;color: red}

.bobyBackGroud{

	background-image: url(../images/inhouse_background.png);

	width: 1280px;


	height: 800px;
}

.boby{

	margin: 0;

	padding: 0;
}

.topBackGround{

	background-image: url(../images/inhouse_top.png);	

	width: 1282px;

	height: 90px;

	position: relative;
}

.banner{

	background-image: url(../images/inhouse_banner.png);	

	width: 811px;

	height: 40px;


	font-size: 13px;

	
}


.wordRect{

	-webkit-box-reflect: below 1px -webkit-gradient(linear,0 20%,0 100%,from(transparent),color-stop(0, transparent),to(#000));
}



.left-table03 {text-indent:7px;font-family: "锟斤拷锟斤拷";height: 42;font-size:12px;color:#555555;text-decoration:none;background-color:white;border-top:1px solid #fdfdfd;border-bottom:1px solid #dddddd;}
.left-table03:hover{background-color:#E4E4E4;cursor:pointer;}

.leftLines{

	background-image: url(../images/inhouse_lines.png) ;

	background-repeat: repeat-x;


	color: white;

	text-indent: 32px;

	line-height: 50px;

	font-size: 19px;

}

.zhucaidan  tbody tr td{

	background-image: url(../images/inhouse_table_backgroud.png) ;

	width: 199px;

	height: 49px;
}

.left-font{

	font-size: 16px;

	color: rgb(38,78,99);
}

.left-a{

width: 160px;

 height: 29px; 

 font-size: 16px; 

 color: rgb(121, 16, 125); 

 text-indent: 39px;

  line-height: 33px;

}
