.crmTable tr>th{
    text-align: center;
    background-color: #eee;
}
.crmTable tr>td{
    text-align: center;
    vertical-align:middle !important;
    border-bottom-color: #D5E3E7 !important;
}
.crmTable tr:nth-of-type(even){
    background-color: #F9FCFD;
}
.navBarStyle{
    color:white;
    line-height: 46px;
    font-size:16px; 
    padding-left: 35px;
    height: 47px;
    background-image: url('../images/navBackground.png');
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #000;
}
.dataArea{
    text-align: left;
    margin-left: 25px;
    margin-right: 45px;
    min-width: 500px;
    height: 190px;
}
.pageStyle{
margin: 0 auto;
width: 350px;
text-align: center;
/*    position: fixed;*/
    bottom: 5px; 
    left: 45%
}
.pageHeight{
    height: 150px;
}
